{% extends 'User/Header.html' %}
{% load static %}
{% block content %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewUser</title>

</head>

<body>
    <div id="tab">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h2 align="center">
                <font color="white">BOOKING</font>
            </h2>
            <input type="hidden" name="txt_hotel" id="txt_hotel" value="{{hotel.id}}">
            <input type="hidden" name="txt_booking" id="txt_booking" value="{{booking}}">
            {% for c in count %}
            <table>
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>Floor Number</td>
                    <td>
                        <select name="txtfloor{{forloop.counter}}" id="txtfloor{{forloop.counter}}" onchange="selRoomtype('txtfloor{{forloop.counter}}','sel_roomtype{{forloop.counter}}')" required>
                            <option value="">Select Floor</option>
                            {% for i in floornumberdata %}
                            <option value="{{i}}">{{i}}</option>
                            {% endfor %}

                        </select>
                    </td>
                    <td>Room Type</td>
                    <td>
                        <select name="sel_roomtype{{forloop.counter}}" id="sel_roomtype{{forloop.counter}}" onchange="bookRooms('txtfloor{{forloop.counter}}','sel_roomtype{{forloop.counter}}')" required>
                            <option value="">...Select...</option>

                        </select>
                    </td>
                </tr>
            </table>
            <br>
            {% endfor %}
            <table>
                <tr>
                    <td align="center">
                        <input type="submit" name="btnsubmit" style="width: 100px;" value="Save">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
{% if msg %}
<script>
    alert("{{msg}}")
    window.location = "{% url 'User:mybooking' %}"
</script>
{% endif %}
{% if msg1 %}
<script>
    alert("{{msg1}}")
    window.location = "{% url 'User:booking' hid %}"
</script>
{% endif %}

</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    function selRoomtype(floor,room) {
        // console.log(floor,room);
        var hotel = document.getElementById("txt_hotel").value
        var floor_number = document.getElementById(floor).value
        // console.log(room);
        var ur = "{% url 'User:ajaxroomtype' %}"
        $.ajax({
            url: ur,
            data: { hotel: hotel,floor_number: floor_number },
            success: function (data) {
                $("#"+room).html(data);
            },
        });
    }

    function bookRooms(floor,room) {
        // console.log(floor,room);
        var booking = document.getElementById("txt_booking").value
        var floor_number = document.getElementById(floor).value
        var room = document.getElementById(room).value
        // console.log(room);
        var ur = "{% url 'User:ajaxbookrooms' %}"
        $.ajax({
            url: ur,
            data: { booking: booking,floor_number: floor_number,room: room },
            success: function (data) {
                // $("#"+room).html(data);
                if(data.msg)
                {
                    alert(data.msg)
                }
                else{
                    alert(data.msg1)
                    document.getElementById(floor).value = ""
                    document.getElementById(room).value = ""
                }
            },
        });
    }
</script>
{% endblock content %}