{% extends 'User/Header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>Number Of Rooms</td>
                <td><input type="text" name="txt_count" id=""></td>
            </tr>
            <tr>
                <td>Check In Date </td>
                <td><input type="date" name="txtcheckin"></td>
            </tr>

            <tr>
                <td>Check Out Date</td>
                <td><input type="date" name="txtcheckout"></td>
            </tr>

            <tr>
                <td>Number Of Guest</td>
                <td><input type="text" name="txtguest" placeholder="Enter No of Guest"></td>
            </tr>
            <tr>
                <td>Meal Package</td>
                <td>
                    <select name="sel_mealpackages" id="sel_mealpackages">
                        <option value="">...Select...</option>
                        {% for i in mealpackagesdata %}
                        <option value="{{i.id}}">
                            {{i.mealpackages_name}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>

            <tr>
                <td>Tour Package</td>
                <td>
                    <select name="sel_tourpackages" id="sel_tourpackages">
                        <option value="">...Select...</option>
                        {% for i in tourpackagesdata %}
                        <option value="{{i.id}}">
                            {{i.tourpackages_name}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>

            <tr>
                <td>Pick and Drop Service</td>
                <td>
                    <select name="sel_pickanddrophead" id="sel_pickanddrophead">
                        <option value="">...Select...</option>
                        {% for i in pickanddropheaddata %}
                        <option value="{{i.id}}">
                            {{i.pickanddrophead_name}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="Book"></td>
            </tr>
        </table>
    </form>
</body>

</html>
{% endblock content %}